<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/header::admin-menu}"></div>
<div class="container">
  <h2>Order Details</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Order Information</h4>
      <p><strong>Date:</strong> <span th:text="${order.date}"></span></p>
      <p><strong>Price:</strong> <span th:text="${order.price}"></span></p>
      <p><strong>Orderer Name:</strong> <span th:text="${order.ordererName}"></span></p>
      <p><strong>Shipping Address:</strong> <span th:text="${order.shippingAddress}"></span></p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Products</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Summary Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Warehouse ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderProduct : ${order.products}">
          <td th:text="${orderProduct.product.code}"></td>
          <td th:text="${orderProduct.product.name}"></td>
          <td th:text="${orderProduct.product.price * orderProduct.quantity}"></td>
          <td th:text="${orderProduct.product.category.name}"></td>
          <td th:text="${orderProduct.quantity}"/>
          <td th:text="${orderProduct.warehouseId}"/>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
