<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/header::admin-menu}"></div>
<div class="container">
  <h1>Product List in warehouse: <span th:text="${warehouseName}"/></h1>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Locked</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${productsMap}">
      <td th:text="${entry.key.code}"></td>
      <td th:text="${entry.key.name}"></td>
      <td th:text="${entry.key.category.name}"></td>
      <td th:text="${#numbers.formatCurrency(entry.key.price)}"></td>
      <td th:text="${entry.key.locked}"></td>
      <td th:id="${'quantity-' + entry.key.code}" th:text="${entry.value}"/>
      <td><input th:id="${'updated-quantity-' + entry.key.code}" type="number" name="newQuantity" min="0" value="0"></td>
      <td>
        <button class="btn btn-primary" th:onclick="updateQuantity([[${entry.key.code}]], [[${warehouse}]])">Confirm</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  function updateQuantity(productCode, warehouseName) {
    var quantity = document.getElementById('updated-quantity-' + productCode).value;
    var data = {
      "productCode": productCode,
      "quantity": quantity
    };
    var xhr = new XMLHttpRequest();
    xhr.open("PATCH", "/admin/warehouse/" + warehouseName + "/update-quantity", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var element = document.getElementById("quantity-" + productCode);
        element.innerHTML = data.quantity
        alert("Quantity updated")
      }
    };
    xhr.send(JSON.stringify(data));
  }
</script>
</body>
</html>