<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/header::client-menu}"></div>
<div class="container">
  <h1>Product List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.code}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.category.name}"></td>
      <td th:text="${#numbers.formatCurrency(product.price)}"></td>
      <td><input th:id="${'quantity-' + product.code}" type="number" name="quantity" min="0" value="0"></td>
      <td>
        <button class="btn btn-primary" th:onclick="addToCart([[${product.code}]])">Add to Cart</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  function addToCart(productCode) {
    var quantity = document.getElementById('quantity-' + productCode).value;
    var data = {
      "productCode": productCode,
      "quantity": quantity
    };
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/client/products/add-to-cart", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        alert("Product added to cart successfully!");
      }
    };
    xhr.send(JSON.stringify(data));
  }
</script>
</body>
</html>