<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="client-menu" class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/client/}">Electronic Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" th:href="@{/client/products}">View available products</a></li>
      <li><a class="nav-link" th:href="@{/client/cart}">Cart</a></li>

    </ul>
  </div>
</nav>
<nav th:fragment="admin-menu" class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/admin/}">Electronic Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" th:href="@{/admin/orders}">View orders</a></li>
      <li><a class="nav-link" th:href="@{/admin/products}">View products</a></li>
      <li><a class="nav-link" th:href="@{/admin/product/add}">Add product</a></li>
    </ul>
  </div>
</nav>
</body>
</html>